.m_top_90{
	margin-top:-90px;
}
.m_top_10{
	margin-top:-10px;
}
#m_left_10{
	margin-left:10px;
}
#m_left_20{
	margin-left:20px;
}
#m_left_30{
	margin-left:24px;
}
#m_left_25{
	margin-left:24px;
}
#m_left_40{
	margin-left:40px;
}
#index_present_m_10{
	margin-top:10px;
}
#index_present_m_20{
	margin-top:20px;
}
#div_top_5{
	margin-top:5px;
}
#div_top_10{
	margin-top:10px;
}
#div_top_20{
	margin-top:20px;
}
#div_top_30{
	margin-top:30px;
}
#div_top_40{
	margin-top:40px;
}
#div_top_50{
	margin-top:50px;
}
#div_top_60{
	margin-top:60px;
}
#div_top_70{
	margin-top:70px;
}
#div_top_100{
	margin-top:100px;
}
#div_top_200{
	margin-top:252px;
}
.div_top_10{
	margin-top:10px;
}
.div_top_20{
	margin-top:20px;
}
.div_top_30{
	margin-top:30px;
}
.div_top_40{
	margin-top:40px;
}